// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// body {
//   border-top: 4px solid #F9BA84;
// }

header {
  margin: 80px 0 110px 0;
}

.user_nav {
  text-align: right;
}

.sign_up {
  margin-right: 10px;
  &.sign_up:hover {
    color: #F9BA84;
    text-decoration: none;
    background-color: white;
  }
}

.log_in {
  margin-right: 10px;
  &.log_in:hover {
    color: #F9BA84;
    text-decoration: none;
    background-color: white;
  }
}

.logged_in {
  margin-right: 10px;
  &.logged_in:hover {
    color: #F9BA84;
    text-decoration: none;
    background-color: white;
  }
}

.log_out {
  margin-right: 10px;
  &.log_out:hover {
 
  }
}

.log_out {
  margin-right: 10px;
  &.log_out:hover {
    color: #F9BA84;
    text-decoration: none;
    background-color: white;
  }
}

.logo {
  height: 100px;
  padding: 0px;
}

.jg_logo {
  height: 35px;
  margin-top: 30px;
  margin-left: -6px;
  padding: 0px;
}

.blog_container.container.topSpace {
  padding-top: 10px;
}

.blog_date {
  //color: #999;
  margin-top: 0px;
}

.blog_content {
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.blog_body {
  font-size: 15px;
}

// POST SHOW PAGE STYLING
// .container {
//   margin-bottom: 25px; 
// }

.nav.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}

.blog_content.container.topSpace {
  padding-top: 10px;
}

h1.blog_title {
  margin-top: 0px;
  font-size: 34px;
  & a {
    color: #5c4775;
    text-decoration: none;
  }
  & a:hover {
    color: #dfb66d;
  }
}

.user_info {
  font-size: 15px;
  margin-top: 0px;
}

.show_blog_body {
  font-size: 15px;
  padding: 0px;
}

.author_container {
  margin-top: 30px;
}

.avatar_img img {
  border: 1px solid #E0B76E;
}

// USER SHOW PAGE STYLING
.user_name {
  padding: 0px;
  font-size: 15px;
  margin-bottom: 25px;
}

.new_post {
  padding: 0px;
  & a:hover {
    color: #F9BA84;
    text-decoration: none;
    background-color: white;
  }
}
