body {
  background-color: #fef5ee;
  color: #5C4755;
  //font-family: verdana, arial, helvetica, sans-serif;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300 !important;
  margin-top: 70px;
}
a {
  color: #dfb66d;
}
a:hover, a:active, a:focus {
  color: #BF8D67;
}
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
}
h2 {
  color: #dfb66d;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
}
h3 {
  color: #5c4755;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
}
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.header {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 10;
  height: 70px;
  opacity: 0.9;
  margin-top: -70px;
}
.header .navbar-brand {
  font-weight: 900;
  padding: 0px;
}
.header .navbar {
  margin: 0;
  border: none;
}
.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 10px;
  padding: 25px 0px 10px 0px;
  margin-left: 10px;
  margin-right: 10px;
  color: #5C4755;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 13px;
}
.navbar-nav > li > a:hover {
  background-color: #fff;
  border-bottom: 2px solid #dfb66d;
}
.navbar-nav > li.current > a {
  background-color: #fff;
  border-bottom: 2px solid #dfb66d;
}
.navbar-toggle {
  margin-top: 16px;
}
.navbar-toggle .icon-bar {
  background: #dfb66d;
}
.navbar-collapse {
  background-color: #fff;
}
.topSpace {
  padding-top: 100px;
}
.page-header {
  border: none;
  hr {
    border-top-color: #dfb66d;
    text-align: center;
    width: 200px;
  }
}
